@media screen and (min-width: 600px) {
    body {
        max-width: 1600px;
    }

    header {
        display: grid;
        grid-template-columns: 250px auto 200px 100px;
    }

    ul .navigation {
        grid-column: 1 / 4;
    }

    nav {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    #logo {
        padding-left: 18px;
    }

    #welcome {
        left: 40%;
        transform: translate(-30%, -30%);
        font-size: 4vw;
    }

    #weather {
        display: flex;
        padding-inline: 30px;
        grid-column: 3 / 4;
    }

    #weatherico {
        width: 30px;
        height: 30px;
    }

    #weatherdiv {
        height: 500px;
    }

    .toggle {
        grid-column: 4 / 5;
        text-align: left;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #hero img {
        max-width: 1600px;
        width: 100%;
        height: auto;
    }

    .carousel {
        height: 500px;
    }

    #events {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-inline: 40px;
    }

    .events {
        min-width: 300px;
    }

    #join {
        width: 20%;
        padding: 2% 5%;
        font-size: 2vw;
        top: 70%;
        left: 15%;
    }

    #menu {
        display: none;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 50px;
        padding: 20px;
        font-size: 10pt;
        margin-top: 40px;
    }

    .socials {
        display: flex;
        grid-column: 5/6;
        justify-content: right;
        align-items: center;
    }

    /* Discover css */
    .dis-main {
        display: grid;
        grid-template-columns: 300px 1fr;
        margin: 2em;
    }

    section:nth-child(4) {
        grid-column: 2/3;
        grid-row: 1/8;
    }

    .card-img:hover {
        box-shadow: 0 0 50px #333;
    }

    section:first-child,
    section:nth-child(2),
    section:nth-child(3) {
        grid-column: 1/2;
    }
}