@media screen and (min-width: 600px) {
    body {
        max-width: 1600px;
    }

    header {
        display: grid;
        grid-template-columns: 250px auto 200px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        grid-column: 2 / 3;
    }

    #logo {
        padding-left: 18px;
    }

    #weather {
        display: flex;
        padding-right: 90px;
        justify-content: right;
        grid-column: 3 / 4;
    }

    #weatherico {
        width: 30px;
        height: 30px;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #hero img {
        max-width: 1600px;
        width: 100%;
        height: auto;
    }

    #join {
        width: 20%;
        padding: 2% 5%;
        font-size: 2vw;
        top: 70%;
        left: 15%;
    }

    #menu {
        display: none;
    }
}