@media screen and (min-width: 600px) {

    /* Header */
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        background: var(--primary-color);
        justify-content: center;
    }

    .navigation a {
        width: 150px;
        height: 35px;
        margin: 0px;
        line-height: 35px;
    }

    .navigation li {
        display: flex;
    }

    /* Main */
    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .vehicle-card {
        flex-direction: row;
    }

    /* contact.html and reservation.html */
    .reservations div {
        grid-column: 7/11;
        margin-left: 45px;
    }

    .contacts p {
        grid-column: 7/11;
        margin-top: 115px;
        margin-left: 45px;
    }

    .reservations form {
        grid-column: 2/6;
    }

    form {
        grid-column: 2/7;
    }

    iframe {
        grid-row: 3/4;
        grid-column: 3/11;
    }
}